footer {
  background: #4c32d6;
  color: #ddf4f8;
  padding: 25px 0;
  font-family: arial;

  .col-1 {
    width: 50%;

    h2 {
      font-size: 30px;
      margin: 0;
    }

    p {
      margin: 5px 0 0 0;
      font-size:12px;
    }
  }
  .col-2,
  .col-3 {
    width: 25%;
  }

  ul {
    display: block;
    margin: 0;
    padding: 0;

    li {

    }
  }
}
